@-webkit-keyframes center {
  0%,
  10% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  90%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes center {
  0%,
  10% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  90%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1ecfd8;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #25f4ff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif !important;
  font-size: 1rem;
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 0.8rem !important;
  }
}

.navbar a.download {
  color: #fff !important;
  border-radius: 2rem;
  background-color: #1ecfd8;
}

.navbar-brand img {
  width: 12rem;
}

.navbar-nav .nav-item .nav-link {
  padding-right: 0.8rem !important;
  padding-left: 0.8rem !important;
  -webkit-transition: all ease-out 0.5;
  transition: all ease-out 0.5;
  font-weight: 600;
}

.navbar-nav .nav-item .nav-link.active, .navbar-nav .nav-item .nav-link:hover {
  color: #1ecfd8 !important;
  font-weight: bold;
}

.collapse.show .nav-item .nav-link {
  -webkit-animation: center 2s;
          animation: center 2s;
  text-align: center;
}

.collapse.show .nav-item.active, .collapse.show .nav-item:hover {
  background: #6c757d24;
}

section:not([id*="home"]) {
  position: relative;
  top: 4rem;
  margin: 0.5rem;
  background: #fff;
  padding: 1rem 0;
}

section:not([id*="home"]) h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.scroll-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 25px;
  right: 20px;
  display: none;
  z-index: 100;
  background-color: #1ecfd8 !important;
}

.scroll-top i {
  display: inline-block;
  color: #ffffff;
}

@media only screen and (min-width: 1190px) {
  .modal-xl {
    max-width: 2200px !important;
  }
}

.modal-body {
  padding: 0 !important;
}

.modal-body .close {
  position: absolute;
  right: -9%;
  top: -5%;
  font-size: 3rem;
  font-weight: lighter !important;
  color: #f00;
  opacity: 0.95 !important;
}

.modal-body .close:hover {
  color: #f00;
  opacity: 1.2 !important;
}

@media only screen and (max-width: 37.5em) {
  .modal-body .close {
    right: 0%;
    top: -3%;
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1190px) {
  .modal-body .close {
    right: 2%;
  }
}

@media only screen and (min-width: 2500px) {
  .modal-body .close {
    right: -4%;
  }
}

.modal-content {
  background-color: transparent !important;
  border: none !important;
}

#dashboard-video {
  height: 88vh;
  width: 110%;
  left: -5%;
  position: relative;
}

@media only screen and (max-width: 37.5em) {
  #dashboard-video {
    width: 100%;
    left: 0;
    top: 25px;
  }
}

@media only screen and (min-width: 1190px) {
  #dashboard-video {
    left: 0%;
    width: 95%;
  }
}

@media only screen and (min-width: 2500px) {
  #dashboard-video {
    left: 0%;
    width: 100%;
  }
}

#features {
  position: relative;
  top: 25%;
}

#contact {
  position: absolute;
  bottom: 15%;
}

#home {
  position: relative;
  top: 4rem;
  background: url(../images/city-building.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 91vh;
}

@media only screen and (min-width: 2500px) {
  #home {
    height: 95vh;
  }
}

#home .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  padding: 1rem;
}

@media only screen and (max-width: 37.5em) {
  #home .heading span:nth-child(1) {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 75.5em) and (min-width: 37.5em) {
  #home .heading span:nth-child(1) {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  #home .heading span:nth-child(1) {
    font-size: 3rem;
  }
}

#home .heading-video {
  position: relative;
}

#home .heading-video .placeholder {
  height: 91vh;
  width: 100%;
  background-color: #1ecfd87e;
}

@media only screen and (min-width: 2500px) {
  #home .heading-video .placeholder {
    height: 95vh;
  }
}

#home .heading-video .placeholder .play-button {
  z-index: 5;
  cursor: pointer;
}

#home .heading-video .placeholder .play-button img {
  height: 6rem;
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
}

#home .heading-video .explore {
  position: absolute;
  top: 0;
  height: 73vh;
  width: 98%;
}

#home .heading-video .explore a {
  color: #fff;
  text-shadow: 1px 1px #000;
  z-index: 20;
  cursor: pointer;
  font-size: 1.3rem;
}

#feature #feature-fade {
  opacity: 0;
}

#feature .fade-in {
  animation: fadeIn ease 5s;
  opacity: 1 !important;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

#feature .feature-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#feature .feature-background img {
  height: 100%;
  width: 100%;
  top: 18px;
  position: relative;
}

#feature .list-group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding-left: 0;
}

@media only screen and (max-width: 37.5em) {
  #feature .list-group-item {
    padding: 0.75rem 0.25rem !important;
  }
}

#feature .list-group-item img.list-icons {
  width: 45px;
  height: 45px;
}

#feature .list-group-item span {
  text-align: justify;
  text-justify: inter-word;
}

#feature .list-group-item .fa {
  font-size: 1.5rem;
  color: #1ecfd8;
  width: 1.5rem;
}

#feature a.download {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 2rem;
  background-color: #1ecfd8;
}

#visitors .img-tick {
  width: 25px;
}

#visitors .list-group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 1.75rem 0.25rem;
}

@media only screen and (max-width: 37.5em) {
  #visitors .list-group-item {
    padding: 0.75rem 0.25rem !important;
  }
}

#visitors .list-group-item span {
  padding-left: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

@media only screen and (max-width: 37.5em) {
  #visitors .list-group-item span {
    padding-left: 0rem;
  }
}

#visitors .list-group-item .fa {
  font-size: 1.5rem;
  color: #1ecfd8;
  width: 1.5rem;
}

#visitors iframe {
  width: 60vw;
  height: 65vh;
}

@media only screen and (max-width: 56.25em) {
  #visitors iframe {
    width: 90vw !important;
  }
}

@media only screen and (min-width: 2500px) {
  #visitors .wide-screen {
    position: relative;
    left: -25rem;
    width: 180%;
  }
}

#faqs {
  background-color: #f8f9fa !important;
  padding: 1rem 0 !important;
}

#faqs ul {
  list-style: none;
}

#faqs li div {
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

#faqs li div .fa {
  width: 1rem;
  font-size: 0.6rem;
  position: relative;
  top: -3px;
  padding-right: 0.5rem;
}

#faqs li div span:nth-child(1) {
  font-weight: bold;
}

#faqs li div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: justify;
  text-justify: inter-word;
}

#contacts {
  background: #fff;
}

#contacts .heading {
  padding: 0 5rem;
  font-size: 2rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 37.5em) {
  #contacts .heading {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 75.5em) and (min-width: 37.5em) {
  #contacts .heading {
    padding-left: 7%;
  }
}

@media only screen and (min-width: 1190px) {
  #contacts .heading {
    padding-left: 20%;
  }
}

@media only screen and (min-width: 2500px) {
  #contacts .heading {
    padding-left: 48%;
  }
}

#contacts form {
  padding: 0 5rem;
}

@media only screen and (max-width: 37.5em) {
  #contacts form {
    padding: 0 2rem;
  }
  #contacts form .form-email {
    margin-top: 2rem !important;
  }
}

@media only screen and (max-width: 75.5em) and (min-width: 37.5em) {
  #contacts form {
    padding-left: 7%;
  }
}

@media only screen and (min-width: 1190px) {
  #contacts form {
    padding-left: 20%;
  }
}

@media only screen and (min-width: 2500px) {
  #contacts form {
    padding-left: 48%;
  }
}

@media only screen and (max-width: 321px) {
  #contacts form {
    padding: 0;
  }
}

#contacts form .form-group {
  margin: 0;
}

#contacts form .form-row {
  margin: 2.5rem 0;
  position: relative;
}

#contacts form .form-label {
  position: absolute;
  left: 10px;
  top: 7px;
  cursor: text;
  -webkit-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

#contacts form .form-textbox {
  border: none;
  border-bottom: 1.5px solid #495057;
}

#contacts form .form-textbox:focus {
  border-radius: 2rem;
  -webkit-box-shadow: 0 0 0 0.1rem #dae0e591;
          box-shadow: 0 0 0 0.1rem #dae0e591;
}

#contacts form .form-textbox:focus ~ .form-label,
#contacts form .form-textbox:valid ~ .form-label {
  top: -1.8em;
  left: 0.5rem;
  font-size: 0.9em;
  color: inherit;
  cursor: pointer;
}

#contacts form .btn-default {
  border: 1.5px solid #495057;
  border-radius: 2rem;
}

#contacts form .apple-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacts form .google-badge img {
  height: 3.66rem;
}

#contacts .footer {
  position: relative;
  padding: 1rem 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #015798;
  font-size: 1.5rem;
}

@media only screen and (max-width: 37.5em) {
  #contacts .footer {
    max-width: inherit;
    margin: 0;
    font-size: 1rem;
    width: 100vw;
    position: relative;
    top: 168px;
  }
}

@media only screen and (max-width: 320px) {
  #contacts .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#contacts .footer .pheonix img {
  height: 6rem;
}

@media only screen and (max-width: 37.5em) {
  #contacts .footer .pheonix img {
    height: 4rem;
  }
}

#contacts .footer .powered img {
  height: 3rem;
  width: inherit;
}

@media only screen and (max-width: 37.5em) {
  #contacts .footer .powered img {
    height: 2rem;
  }
}

#contacts .contact-us-left {
  background-image: url(../images/contact-us.jpg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  background-position: right;
}

@media only screen and (max-width: 37.5em) {
  #contacts .contact-us-left {
    top: -118px;
    height: 168px;
  }
}
/*# sourceMappingURL=main.css.map */