@-webkit-keyframes center {
  0%,
  10% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  90%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes center {
  0%,
  10% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  90%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #212529 !important;
  font-size: 1rem;
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 0.8rem !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1ecfd8;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #25f4ff;
}

.navbar a.download {
  font-family: fantasy;
  font-weight: normal;
  color: #1ecfd8 !important;
}

.navbar-brand img {
  width: 10rem;
}

.navbar-nav .nav-item .nav-link {
  -webkit-transition: all ease-out 0.5;
  transition: all ease-out 0.5;
  font-weight: 600;
}

.navbar-nav .nav-item .nav-link.active, .navbar-nav .nav-item .nav-link:hover {
  color: #1ecfd8 !important;
  font-weight: bold;
}

.collapse.show .nav-item .nav-link {
  -webkit-animation: center 2s;
          animation: center 2s;
  text-align: center;
}

.collapse.show .nav-item.active, .collapse.show .nav-item:hover {
  background: #6c757d24;
}

section:not([id*="home"]) {
  position: relative;
  top: 4rem;
  margin: 0.5rem;
  background: white;
  padding: 4rem 1.5rem;
}

.scroll-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 25px;
  right: 20px;
  display: none;
  z-index: 100;
  background-color: #1ecfd8 !important;
}

.scroll-top i {
  display: inline-block;
  color: #ffffff;
}

#home {
  position: relative;
  top: 4rem;
  background: url(../images/city-building.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 92vh;
}

#home .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  color: white;
  font-weight: bold;
  padding: 1rem;
}

@media only screen and (max-width: 37.5em) {
  #home .heading span:nth-child(1) {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 75.5em) and (min-width: 37.5em) {
  #home .heading span:nth-child(1) {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  #home .heading span:nth-child(1) {
    font-size: 4rem;
  }
}

#home .heading-video {
  position: relative;
}

#home .heading-video .placeholder {
  height: 70vh;
  width: 100%;
  z-index: 10;
}

#home .heading-video .placeholder:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#home .heading-video .placeholder .play-button {
  cursor: pointer;
  height: 10rem;
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
  z-index: 5;
}

@media only screen and (max-width: 37.5em) {
  #home .heading-video .placeholder span {
    width: 70vw;
  }
}

@media only screen and (max-width: 75.5em) and (min-width: 37.5em) {
  #home .heading-video .placeholder span {
    width: 40vw;
  }
}

@media only screen and (min-width: 1024px) {
  #home .heading-video .placeholder span {
    width: 20vw;
  }
}

#home .heading-video iframe {
  position: relative;
  top: 0.5rem;
  height: 60vh;
  width: 99%;
  left: 0.5%;
}

#home .heading-video .explore {
  height: 69vh;
  width: 98%;
  position: absolute;
  top: 0;
}

#home .heading-video .explore a {
  z-index: 20;
  cursor: pointer;
  font-size: 1.3rem;
}

#features .feature-background {
  width: 100%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 37.5em) {
  #features .feature-background {
    display: none;
  }
}

#features .feature-background img {
  position: absolute;
  height: 100%;
  top: 0;
}

#features .list-group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

@media only screen and (max-width: 37.5em) {
  #features .list-group-item {
    padding: 0.75rem 0.25rem !important;
  }
}

#features .list-group-item span {
  padding-left: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

#features .list-group-item .fa {
  font-size: 1.5rem;
  color: #1ecfd8;
  width: 1.5rem;
}

#features a {
  cursor: pointer;
  font-family: fantasy;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 2rem;
}

#visitor .list-group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

@media only screen and (max-width: 37.5em) {
  #visitor .list-group-item {
    padding: 0.75rem 0.25rem !important;
  }
}

#visitor .list-group-item span {
  padding-left: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

#visitor .list-group-item .fa {
  font-size: 1.5rem;
  color: #1ecfd8;
  width: 1.5rem;
}

#visitor iframe {
  width: 60vw;
  height: 65vh;
}

@media only screen and (max-width: 56.25em) {
  #visitor iframe {
    width: 90vw !important;
  }
}

#faq li div {
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

#faq li div .fa {
  width: 1rem;
  font-size: 0.6rem;
  position: relative;
  top: -3px;
  padding-right: 0.5rem;
}

#faq li div span:nth-child(1) {
  font-weight: bold;
}

#faq li div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: justify;
  text-justify: inter-word;
}

#contact {
  padding-bottom: 0.5rem;
}

#contact .heading {
  padding: 0 5rem;
  font-size: 2rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 37.5em) {
  #contact .heading {
    padding: 0;
  }
}

#contact form {
  padding: 0 5rem;
}

@media only screen and (max-width: 37.5em) {
  #contact form {
    padding: 0;
  }
}

#contact form .form-group {
  margin: 0;
}

#contact form .form-row {
  margin: 2.5rem 0;
  position: relative;
}

#contact form .form-label {
  position: absolute;
  left: 10px;
  top: 7px;
  cursor: text;
  -webkit-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

#contact form .form-textbox {
  border: none;
  border-bottom: 1.5px solid #495057;
}

#contact form .form-textbox:focus {
  border-radius: 2rem;
  -webkit-box-shadow: 0 0 0 0.1rem #dae0e591;
          box-shadow: 0 0 0 0.1rem #dae0e591;
}

#contact form .form-textbox:focus ~ .form-label,
#contact form .form-textbox:valid ~ .form-label {
  top: -1.8em;
  left: 0.5rem;
  font-size: 0.9em;
  color: inherit;
  cursor: pointer;
}

#contact form .btn-default {
  border: 1.5px solid #495057;
  border-radius: 2rem;
}

#contact form .apple-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact form .google-badge img {
  height: 4rem;
}

#contact .footer {
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0178f0;
  font-size: 1.5rem;
}

@media only screen and (max-width: 37.5em) {
  #contact .footer {
    padding: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#contact .footer img {
  width: 7rem;
}

#contact .footer img.powered {
  height: 7rem;
  width: inherit;
}

@media only screen and (max-width: 37.5em) {
  #contact .footer img.powered {
    height: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  #contact .footer {
    font-size: 1rem;
  }
}

#contact .contact-us-left {
  background-image: url(../images/contact-us-left.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=main.css.map */